$base1: #664D3E;
$base2: #C2C2BB;
$base3: #211816;
$base4: #E56316;
$base5: #736D5A;

$shade1: #6E5545;
$shade2: #a8a8a0;
$shade3: #120D0C;
$shade4: #E56316;
$shade5: #736D5A;
$shade6: #29201d;
$shade7: #F8BB86;

$jsonBackground: $shade6;
$background: $base3;