$base1: #373b3d;
$base2: #bbc2c2;
$base3: #1b1c1d;
$base4: #e58b16;
$base5: #778283;

$shade1: #3f4547;
$shade2: #a8a8a0;
$shade3: #18191a;
$shade4: #e6750d;
$shade5: #736D5A;
$shade6: #282a2c;
$shade7: #c1dfeb;

$jsonBackground: $shade6;
$modalBackground: $shade1;
$background: $base3;