@import 'colors-dark.scss';

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin toolTip {
  position: relative;

    &:hover:after {
      opacity: 1;
      transition: all 0.3s;
      transition-delay: 0.5s;
      visibility: visible;
    }

    &:after {
      background-color: #3d4553;
      color: #c2d8ee;
      font-size: 14px !important;
      line-height: 16px !important;
      font-family: 'Noto Sans', sans-serif !important;
      padding: 10px !important;
      left: 100%;
      position: absolute;
      white-space: nowrap;
      opacity: 0;
      border: 1px solid #202630;
      z-index: 99999;
      visibility: hidden;
      @content;
    }
}