@import '../../styles/main.scss';

.authContainer {
  @include no-select;
  width: 600px;
  height: 270px;
  border: 1px solid $base5;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authHeadline {
  width: 100%;
  height: 40px;
  font-size: 26px;
  color: $base5;
}

.authInput {
  width: calc(100% - 20px);
  height: 50px;
  font-size: 24px;
  border: 1px solid $base5;
  background-color: $base3;
  color: $base5;
  padding: 0 10px;
  outline: none;
  margin-bottom: 10px;

  &::placeholder {
    color: $base1;
    opacity: 0.7;
  }
}

.countdownLine {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid $base1;
  margin-top: 10px;
  overflow: hidden;
}

.countdownProcess {
  width: 100%;
  height: 35px;
  background-color: $base4;
  animation: countdown 15s forwards linear;
}

@keyframes countdown {
  from { 
    width: 100%; 
    background-color: $base4;
  }
  to { 
    width: 0%; 
    background-color: $base1;
  }
}

.bridgePushRow {
  display: flex;
  width: 100%;
  height: 170px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.bridgePushText {
  width: 250px;
  font-size: 22px;
  color: $base2;
}

.bridgePushIcon {
  width: 170px;
  height: 170px;
  fill: $base2;
  background: url(../../media/pushlink_bridgev2.svg);
  background-repeat: no-repeat;
}