@import '../../styles/main.scss';

.contentContainer {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
  margin: 30px;
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  color: $base1;
  font-size: 28px;
  width: 300px;
  text-align: center;
}

.menuWrapper {
  @include no-select;
  width: 25%;
  margin-right: 30px;
}

.menuContainer {
  width: 100%;
  height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}

.createNewItemButton {
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: $base2;
  transition: 0.3s;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.createNewItemIcon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  color: #e6750d;
  font-size: 25px;
  text-align: center;
}

.itemContainer {
  width: 100%;
  display: flex;
}

.menuItem {
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: $base2;
  padding-left: 20px;
  background-color: $shade6;
  cursor: pointer;
  border-left: borderLeft;
  transition: 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: $base5;
    color: $base2;
  }

  @include toolTip {
    content: attr(data-title);
    margin-top: 25px;
    left: 45px;
  }

  position: static;
}

.menuItemActive {
  background-color: $base1;
  color: white;
  border-left: 8px solid $base4;
}

.deleteButton {
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  text-align: center;
  color: #D7443F;
  cursor: pointer;
  transition: 0.3s;
}

.emptyButton {
  width: 35px;
  height: 35px;
  float: left
}

.jsonDataWrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.jsonDataContainer {
  overflow-y: auto;
  height: 100%;
}

.jsonDataOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(28,28,28,0.5);
}

.jsonCreateModalWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.jsonCreateNewEditorContainer {
  width: 90%;
  height: auto;
  min-height: 150px;
  max-height: calc(100% - 50px);
  margin-top: 15px;
  left: 50%;
  margin-left: -45%;
  border-radius: 3px;
  background-color: $modalBackground;
  position: absolute;
  z-index: 150;
  overflow-y: auto;
  overflow-x: hidden;
}

.jsonCreateNewCloseBtn {
  width: 15px;
  height: 15px;
  background-color: rgb(253, 151, 31);
  border-radius: 0px 0 0 3px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
}

%menuItemButton {
  width: 25px;
  height: 35px;
  line-height: 33px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  float: left;
  opacity: 0.7;
  transition: 0.3s;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }
}

.deleteButton {
  @extend %menuItemButton;
  color: #D7443F;
};

.emptyButton {
  width: 35px;
  height: 35px;
  float: left;
}