@import '../../styles/main.scss';

.authButton {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $base1;
  color: $base2;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $base3;
    background-color: $shade2;
  }
}

.disabled {
  cursor: not-allowed;

  &:hover {
    color: $base2;
    background-color: $base1;
  }
}