@import '../main';

.consoleWrapper {
  width: 100%;
  height: 30px;
  background-color: $shade3;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: 0.15s;
  z-index: 300;
}

.consoleWrapperShow {
  height: 300px;
}

.consoleHeader {
  @include no-select;
  width: 100%;
  height: 30px;
  background-color: $base1;
  text-align: center;
  line-height: 30px;
  color: $base2;
  font-size: 16px;
  cursor: pointer;
}

.consoleHeaderShow {
  background-color: $base5;
  color: $base3;
}

.outputWrapper {
  white-space: pre;
  margin-bottom: 10;
  transition: 0.3s;
  color: $base5;

  &:hover {
    color: $base2;
  }
}

.menuLine {
  @include no-select;
  height: 35px;
  position: absolute
}

.menuButton {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: $base5;
  font-size: 30px;
  cursor: pointer
}

.consoleContent {
  height: 230px;
  padding: 20px 65px;
  overflow-y: auto;
  color: $base5;
  font-size: 13; 
  font-family: monospace;
}

.consoleTable td:nth-of-type(1) {
  width: 100px;
}