@import '../main';

.validation-failure {
  display: none;
}

.swal-overlay {
  background-color: rgba(0,0,0,0.6);
  outline: none;
}

.swal-modal {
  background-color: $base1;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);;
}

.swal-title, .swal-text {
  color: $shade7;
}

.swal-button--confirm {
  background-color: $shade2;
  color: $base3;
}

.swal-button--cancel {
  background-color: $base3;
  color: $base2;
}

.react-json-view {
  background-color: $jsonBackground !important;
}

.copy-icon svg {
  opacity: 0 !important;
}

.click-to-add-icon svg {
  opacity: 0 !important;
}

.click-to-remove-icon svg {
  opacity: 0 !important;
}

.click-to-edit-icon svg {
  opacity: 0 !important;
}

%json-icon {
  width: 15px;
  height: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }
}

.copy-icon {
  @extend %json-icon;
  background-image: url(../../media/json-copy.svg);
}

.click-to-add-icon  {
  @extend %json-icon;
  background-image: url(../../media/json-add.svg);
}

.click-to-remove-icon  {
  @extend %json-icon;
  background-image: url(../../media/json-delete.svg);
}

.click-to-edit-icon {
  @extend %json-icon;
  background-image: url(../../media/json-edit.svg);
}