@import '../main';

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: $background;
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 600px;
  position: absolute;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $shade2; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $base1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $shade4; 
}